.modal-body
{
    background-color: #fff8e7;
}

.modal-content
{
    background-color: #fff8e7;
}

.modal-footer
{
	background-color: #6D2E33;
}

.modal-header
{
	background-color: #6D2E33;
	color: white;
}

.imglbl{
  background-image: url(../assets/imgs/imglbl.png);
}

.bolsas-count
{
    padding: 100px;
}

.itemWaiting
{
    color: yellow;
}

.itemActive
{
    color: green;
}

.itemExpired
{
    color: red;
}

.transparent-button {
    background-color: transparent;
    position: relative;
}