.modal-body
{
    background-color: #fff8e7;
}

.modal-content
{
    background-color: #fff8e7;
}

.modal-footer
{
	background-color: #6D2E33;
}

.modal-header
{
	background-color: #6D2E33;
	color: white;
}

.imglbl{
  background-image: url(../assets/imgs/imglbl.png);
}

.bolsas-count
{
    padding: 100px;
}

.itemWaiting
{
    color: yellow;
}

.itemActive
{
    color: green;
}

.itemExpired
{
    color: red;
}

.transparent-button {
    background-color: transparent;
    position: relative;
}

table .inativo {
  background: #f45342;
}

table .inativo:hover {
  background: #f24230!important;
}

/* CONTRATOS' CSS */
.contratos {
  padding: 10px;
  border-radius: 5px;

}

.contratos .tab-pane {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff8e7;
}

.painel {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff8e7;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

#loading-gif {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}

/* Painel com estilo onde irão estar botões */
.btns-panel-acoes {
  background: #fff8e7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

fieldset
  {
    border: 2px solid #6D2E33 !important;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
  }

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 30%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-2
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 100%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-3
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 45%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-4
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 40%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

.identifier{
  background-color: #6D2E33;
  text-align: center;
  font-family: impact;
  color: #F3E1B9;
  width: 15%;
  min-width: 200px;
  border-radius: 0px 0px 3px 3px;
  margin-left: 40%;
  height: 5%;
  display: none;
}

input.warning {
  border-color: #ffb95e!important;
}

select.warning {
  border-color: #ffb95e!important;
}

input.alert {
  border-color: #fff65e!important;
}

select.alert {
  border-color: #fff65e!important;
}
