.modal-body
{
    background-color: #fff8e7;
}

.modal-content
{
    background-color: #fff8e7;
}

.modal-footer
{
	background-color: #6D2E33;
}

.modal-header
{
	background-color: #6D2E33;
	color: white;
}

.imglbl{
  background-image: url(../assets/imgs/imglbl.png);
}

.bolsas-count
{
    padding: 100px;
}

.itemWaiting
{
    font-weight: bold;
    color: #b2b200;
    font-variant: small-caps;
}

.atrasado
{
    font-weight: bold;
    color: #b2b200;
    font-variant: small-caps;
}

.adiantado
{
    font-weight: bold;
    color: #0a960d;
    font-variant: small-caps;
}

.emDia
{
    font-weight: bold;
    color: #0eb711;
    font-variant: small-caps;
}

.itemActive
{
    font-weight: bold;
    color: #0eb711;
    font-variant: small-caps;
}

.itemExpired
{
    font-weight: bold;
    color: red;
    font-variant: small-caps;
}

.transparent-button {
    background-color: transparent;
    position: relative;
}

table .inativo {
  background: #f45342;
}

table .inativo:hover {
  background: #f24230!important;
}

/* CONTRATOS' CSS */
.contratos {
  padding: 10px;
  border-radius: 5px;

}

.contratos .tab-pane {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff8e7;
}

.painel {
  padding: 15px;
  border-radius: 5px;
  background-color: #fff8e7;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

#loading-gif {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}

/* Painel com estilo onde irão estar botões */
.btns-panel-acoes {
  background: #fff8e7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

fieldset
  {
    border: 2px solid #6D2E33 !important;
    border-radius: 4px;
    padding: 15px!important;
    margin: 10px;
  }

legend
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 30%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-2
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 100%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-3
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 45%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

legend.md-4
{
  font-size:14px;
  font-weight:bold;
  margin-bottom: 0px;
  width: 40%;
  /* border: 2px solid #6D2E33; */
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  /* background-color: #ffffff; */
}

.identifier{
  background-color: #6D2E33;
  text-align: center;
  font-family: impact;
  color: #F3E1B9;
  width: 15%;
  /* min-width: 200px; */
  border-radius: 0px 0px 3px 3px;
  /* margin-left: 40%; */
  height: 5%;
  display: none;
}

input.warning {
  border-color: #ffb95e!important;
}

select.warning {
  border-color: #ffb95e!important;
}

input.alert {
  border-color: #fff65e!important;
}

select.alert {
  border-color: #fff65e!important;
}

.title-modal-schedule{
  background-color: #6D2E33;
  text-align: center;
  font-family: impact;
  color: #F3E1B9;
  width: 50%;
  min-width: 200px;
  border-radius: 3px 3px 0px 0px;
  height: 5%;
}

.modal-schedule{
  background-color: #F3E1B9;
  font-family: impact;
  width: 50%;
  min-width: 200px;
  border-radius: 3px;
}

.thead-schedule{
  background-color: #6D2E33;
  color: #F3E1B9;
  font-family: impact;
  font-size: 20px;
  text-align: center;
}

.tbody-schedule{
  background-color: #F3E1B9;
  font-family: impact;
  font-size: 18px;
  text-align: center;
}



.container {
    padding: 200px;
    position: fixed;
}

.form-login {
    background-color: #6D2E33;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    height: 110%;
    width: 150%;
}

.titlelogin {
 font-weight: bold;
 text-align: center;
 font-family: Impact;
 color: #F3E1B9;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.btnlogin{
  background-color: #314178;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  color: #F3E1B9;
  font-size: 18px;
}

.btnlogin:hover{
  text-decoration: none;
  background-color: #3c4d87;
  color: #F3E1B9;
}

.small_input {
  width: 50px;
}
